:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

h1,
h3,
h4,
h5,
h6 {
    margin: initial;
    padding: 0;
}

h1 {
    font-size: 3.2em;
    line-height: 1;
    font-weight: 100;
}

h3 {
    font-weight: 400;
}

h5 {
    font-weight: 400;
}

h6 {
    line-height: 1.4;
    font-weight: 400;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    /* background-color: #1a1a1a; */
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

#app {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    flex: 1;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
}

.col {
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    flex: 1;
}

#row1 {
    height: 50%;
    /* background-color: #333; */
    padding: 5px 5px;
    padding-bottom: 0;
}
#row2 {
    /* background-color: blue; */
    height: 50%;
}

.left {
    float: left;
}
.right {
    float: right;
}

#current {
    width: 60%;
}
#current img {
    width: 90%;
    padding: 5px;
}

#details {
    width: 40%;
    padding: 0.5em 1em;
}

#forecast {
    width: 70%;
    padding: 3px 5px;
    align-items: center;
}
#forecast .row {
    height: 100%;
}
.day {
    /* background-color: green; */
}
.day img {
    width: 90%;
    padding: 7px 0;
}
.day h6:nth-of-type(2) {
    color: darkgray;
}

#astro {
    width: 30%;
    padding: 3px 0.5em;
    background-color: #646cff;
    justify-content: space-between !important;
    align-content: space-between !important;
}
#astro .row {
    background-color: #333;
}

#updated {
    background-color: #213547;
}

.center {
    margin: auto !important;
    text-align: center !important;
}
